{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyect</title>
    <link rel='stylesheet' href="{% static 'css/habilidades.css'%}" type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/272/272369.png">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <div class="head">
            <div class="logo">
                <div class="btn-menu">
                    <label for="btn-menu" class="icon-menu">
                        <img src="{% static 'imagenes/tresrayas.png' %}" class="imagencita" alt="menu">
                    </label>
                </div>
                <a class="alogo" href="http://127.0.0.1:8000/newjob">
                    <img class='img_logo' src="{% static 'imagenes/logo_transparent.png' %}" alt="logo">
                </a>
                <nav class="navbar">
                    <a href="http://127.0.0.1:8000/demand">СПРОС</a>
                    <a href="http://127.0.0.1:8000/geography">ГЕОГРАФИЯ</a>
                    <a href="http://127.0.0.1:8000/skill">НАВЫКИ</a>
                    <a href="http://127.0.0.1:8000/vacancy">ВАКАНСИИ</a>
                </nav>
            </div>
        </div>
    </section>

    <section class="home">
        <div class="img-container">
            <h1 class="title">НАВЫКИ</h1>
        </div>
    </section>
    <div class="quees">
        <h4>Навыки, необходимые для того, чтобы стать хорошим аналитиком, следующие:</h4>
    </div>
    <div class="part1">
        <section class="habilidades">
            <div class="habilidad1">
                <h3>
                  Excel
                </h3>
            </div>
            <div class="lista1">
                <ul>
                    <li>Сводные таблицы и сводные диаграммы</li>
                    <li>Расширенный репортаж без использования макросов</li>
                    <li>Расширенная фильтрация и операции на вкладке Данные</li>
                    <li>Расширенные формулы (ПОИСК, ПОИСК В, СОПОСТАВЛЕНИЕ, текстовые и логические операции, ЕСЛИ, эффективное вложение, формулы массива)</li>
                </ul>
            </div>
        </section>

        <section class="habilidades">
            <div class="habilidad2">
                <h3>
                    Google Sheets
                </h3>
                <div class="lista1">
                    <ul>
                        <li>Sparkline</li>
                        <li>QUERY</li>
                        <li>IMPORTRANGE</li>
                        <li>Расширенные операции</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="part1">
        <section class="habilidades">
            <div class="habilidad3">
                <h3>
                    SQL
                </h3>
                <div class="lista1">
                    <ul>
                        <li>Создание и изменение баз данных</li>
                        <li>Опыт работы с .NET Framework</li>
                        <li>Опыт работы со средой разработки, такой как Oracle SQL Developer</li>
                        <li>Знакомство с Java, C++</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="habilidades">
            <div class="habilidad4">
                <h3>
                    Python
                </h3>
                <div class="lista1">
                    <ul>
                        <li>Использование фреймворков, таких как Django</li>
                        <li>Использование объектно-ориентированного программирования</li>
                        <li>Использование баз данных</li>
                        <li>Использование фреймворков, таких как Flask</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="part1">
        <section class="habilidades">
            <div class="habilidad5">
                <h3>
                    Английский язык
                </h3>
                <div class="lista1">
                    <ul>
                        <li>Устное понимание</li>
                        <li>Устное выражение</li>
                        <li>Понимание прочитанного</li>
                        <li>Письменное выражение</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="habilidades">
            <div class="habilidad6">
                <h3>
                    UML
                </h3>
                <div class="lista1">
                    <ul>
                        <li>Опыт построения диаграмм</li>
                        <li>Внедрение системы</li>
                        <li>Построение систем</li>
                        <li>Обратный дизайн</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="part1">
        <section class="habilidades">
            <div class="habilidad7">
                <h3>
                    Google Analytics
                </h3>
                <div class="lista1">
                    <ul>
                        <li>Познакомьтесь со своими пользователями</li>
                        <li>Изучение поведения</li>
                        <li>Измерение взаимодействий</li>
                        <li>Анализ производительности каналов</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="habilidades">
            <div class="habilidad8">
                <h3>
                    WEB аналитика
                </h3>
                <div class="lista1">
                    <ul>
                        <li>Работа с инструментами измерения продвинутого уровня, такими как, например, Google Analytics,</li>
                        <li>Создание и выбор ключевых показателей эффективности для цифровых платформ</li>
                        <li>Управление программным обеспечением для создания отчетов и презентаций</li>
                        <li>Работа с общими концепциями традиционной статистики</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="part1">
        <section class="habilidades">
            <div class="habilidad9">
                <h3>
                    1С программирование
                </h3>
                <div class="lista1">
                    <ul>
                        <li>Обновление информационных баз</li>
                        <li>Реализация доработок в соответствии со стандартами разработки</li>
                        <li>Интеграция 1С со внешними системами</li>
                        <li>Написание новых отчётов, обработок</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="habilidades">
            <div class="habilidad10">
                <h3>
                    Коммуникабельность
                </h3>
                <div class="lista1">
                    <ul>
                        <li>Быть кратким</li>
                        <li>Понимать аудиторию</li>
                        <li>Обращать внимание на язык тела</li>
                        <li>Практикуйте свои навыки</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <footer>
        <div class="container">
           <p>&copy; Хосуэ Авалос Паз и Миньо Антонино РИ-210950 </p>
        </div>
    </footer>
    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
	<div class="cont-menu">
		<nav>
                    <a href="http://127.0.0.1:8000" class="about">Home</a>
                    <a href="http://127.0.0.1:8000/demand">СПРОС</a>
                    <a href="http://127.0.0.1:8000/geography">ГЕОГРАФИЯ</a>
                    <a href="http://127.0.0.1:8000/skill">НАВЫКИ</a>
                    <a href="http://127.0.0.1:8000/vacancy">ВАКАНСИИ</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
    </div>
</body>
</html>