{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/vacantes.css'%}" type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/272/272369.png">
    <title>Proyect</title>
</head>
<body>

    <section>
        <div class="head">
            <div class="logo">
                <div class="btn-menu">
                    <label for="btn-menu" class="icon-menu">
                        <img src="{% static 'imagenes/tresrayas.png' %}" class="imagencita" alt="menu">
                    </label>
                </div>
                <a class="alogo" href="http://127.0.0.1:8000/newjob">
                    <img class='img_logo' src="{% static 'imagenes/logo_transparent.png' %}" alt="logo">
                </a>
                <nav class="navbar">
                    <a href="http://127.0.0.1:8000/demand">СПРОС</a>
                    <a href="http://127.0.0.1:8000/geography">ГЕОГРАФИЯ</a>
                    <a href="http://127.0.0.1:8000/skill">НАВЫКИ</a>
                    <a href="http://127.0.0.1:8000/vacancy">ВАКАНСИИ</a>
                </nav>
            </div>
        </div>
    </section>

    <section id="DEMANDA">

        <section class="titulo">
            <div class="demand">
                <h1 class="title4">Вакансии</h1>
            </div>
        </section>
    </section>

    <section class="container-vacancy">
        <script class="hh-script" src="https://api.hh.ru/widgets/vacancies/search?count=6&locale=RU&links_color=1560b2&border_color=1560b2&text=%D0%90%D0%BD%D0%B0%D0%BB%D0%B8%D1%82%D0%B8%D0%BA&area=113&show_region=true&currency=RUR&only_with_salary=false&salary=6000"></script>
    </section>

    <footer>
        <div class="container">
           <p>&copy; Хосуэ Авалос Паз и Миньо Антонино РИ-210950 </p>
        </div>
    </footer>

    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
	<div class="cont-menu">
		<nav>
            <a href="http://127.0.0.1:8000" class="about">Home</a>
			<a href="http://127.0.0.1:8000/demand">СПРОС</a>
			<a href="http://127.0.0.1:8000/geography">Таблица заработной платы</a>
			<a href="http://127.0.0.1:8000/skill">TOP-10 НАВЫКИ</a>
			<a href="http://127.0.0.1:8000/vacancy">ВАКАНСИИ</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
    </div>
</body>
</html>
